.Main {
  .Hero {
    position: relative;
    background-image: url('../../../assets/images/heroBg/img-1.webp');
    height: 632px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
